<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/uploads/客.png" type="image/x-icon"/>
    <title>过客Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script charset="utf-8" src="/kindEditor/kindeditor-all-min.js"></script>
    <script charset="utf-8" src="/kindEditor/lang/zh-CN.js"></script>
    <script>
        KindEditor.ready(function(K) {
            window.editor = K.create('textarea', {
                allowImageUpload : false,
                items : [
                    'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic',
                    'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright',
                    'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'link']
            });
        });
    </script>
</head>
<body style="background-color: #f8f8f8">

<header>
    <img src="/uploads/客.png" style="height: 50px;border:solid 1px #000000;border-radius: 5px" />
    <a title="主页" href="/" style="font-size:30px;">过客Blog</a>
    <form action="/search" method="GET"><input type="text" name="keyword" class="search" placeholder="搜索博客"/></form>
    <div class="function">
        <% if (user) { %>
        <a title="上传文件" href="/upload">上传文件</a>
        <a title="发表" style="margin-left: 20px" href="/post">写博客</a>
        <% } %>
        <a title="友情链接" href="/kaiQiangCaiPu" style="margin-left: 20px">友情链接</a>
    </div>
    <div class="user">
        <%if (user){%>
        <a title="点击修改图像" href="/updateIcon" style="margin-bottom: -4px"><img src="<%=user.icon%>" style="height: 30px;width: 30px;border: 0px;border-radius: 15px;" /></a>
        <a href="/u/<%=name%>" style="margin-left: 10px;margin-right: 10px"><%=name%></a> |  <a title="登出" href="/logout" style="margin-left: 10px;">退出</a>
        <%}else {%>
        <img src='/uploads/icon.png' style="height: 30px;border: 0px;border-radius: 15px;" />
        <a title="登录" href="/login" style="margin-left: 10px;margin-right: 10px">登录</a> | <a title="注册" href="/reg" style="margin-left: 10px;">注册</a>
        <%}%>
    </div>
</header>


<div class="title">
        <h1><%- title %></h1>

        <% if (success) { %>
        <p style="color: red"><%= success %></p>
        <% } %>
        <% if (error) { %>
        <p style="color: red"><%= error %> </p>
        <% } %>
</div>


<article>