<%- include header %>
<% blogArr.forEach(function (blog, index, blogArr) { %>
<div style="margin-top: 50px;padding:20px;background-color:#ffffff;border: #dddddd 1px solid;box-shadow: #dddddd 1px 1px 1px 1px;">
    <h1 style="margin-top: 20px;margin-bottom: 20px;">
        <a href="/u/<%=blog.name%>/<%=blog.time.day%>/<%=blog.title%>">
            <%= blog.title %>
        </a>
    </h1>
    <div style="font-size: 10px;color: #aaaaaa;height: 20px;display: flex;flex-direction: row;align-items: center">
        <img src="<%=blog.icon%>" style="height: 30px;width: 30px;border: 0px;border-radius: 15px;margin-right: 10px" />
        <a href="/u/<%=blog.name%>" style="margin-right: 10px"><%= blog.name %></a>
        |
        <span style="font-size: 10px;color: #aaaaaa;margin-right: 10px;margin-left: 10px"><%= blog.time.minute %></span>
    </div>
    <p style="margin-top: 20px;color: #666666;font-size: 15px;line-height: 30px"><%- blog.content %></p>
</div>

<% }) %>
<%- include footer %>
